%nav.navbar-white.bg-white.shadow.py-4.fixed-top
  .container-fluid
    .row.align-items-center.m-0
      = link_to :back, :class => "no-link mr-4 ml-2" do
        %i.fas.fa-arrow-left{style: "font-size: 20px"}
      %b{style: "font-size: 16px"} 
        = page_name
          