%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

.icon-bar
  %a{:href => "#", :id => "explore"}
    %i.fas.fa-compass.fa-xs
  %a.active{:href => "/"}
    %i.fas.fa-home.fa-xs
  %a{:href => "#", :id => "user"}
    %i.fas.fa-user-circle.fa-xs