%b.col-lg-1 Categorias
.container.overflow-auto
    .row.flex-nowrap.row-flex
        %button.category.col-lg-1.col-md-2.col-sm-2.col-3 Doces
        %button.category.col-lg-1.col-md-2.col-sm-2.col-3 Salgado
        %button.category.col-lg-1.col-md-2.col-sm-2.col-3 Vegano
        %button.category.col-lg-1.col-md-2.col-sm-2.col-3 Fitness
        %button.category.col-lg-1.col-md-2.col-sm-2.col-3 Massa
        %button.category.col-lg-1.col-md-2.col-sm-2.col-3 Medieval
        %button.category.col-lg-1.col-md-2.col-sm-2.col-3 Bandejão