%h5 Categorias
%button.btn.btn-outline-warning{:type => "button"} Doces
%button.btn.btn-outline-warning{:type => "button"} Salgados
%button.btn.btn-outline-warning{:type => "button"} Vegano
%button.btn.btn-outline-warning{:type => "button"} Fitness
%button.btn.btn-outline-warning{:type => "button"} Massa