%h3 Populares

- @products.each do |product|
  .product-card
    %img.product-img{:alt => "Cone Trufado", :src => "cone.jpg"}
    .description 
      %h4.product-text #{product.name}
      .vendor-text Wilson    
    .bottom-card
      .price-text R$ #{product.price}
      .local-text Está na Biblioteca

