.product-card
  %img.product-img{:alt => "Cone Trufado", :src => "cone.jpg"}
  .description
    %h4.product-text Cones do Wilson
    .vendor-text Wilson    
  .bottom-card
    .price-text R$ 5,00
    .local-text Está na Biblioteca

.product-card
  %img.product-img{:alt => "Cone Trufado", :src => "cone.jpg"}
  .description
    %h4.product-text Cones do Wilson
    .vendor-text Wilson    
  .bottom-card
    .price-text R$ 5,00
    .local-text Está na Biblioteca