%nav.navbar-white.bg-white.shadow.pb-4.pt-4.fixed-top
    .container
        .row
            .col-xg-8.col-lg-8.col-md-8.col-sm-4.col-1
            .col-xg-4.col-lg-4.col-md-4.col-sm-8.col-10
                %form{:action => "/home/search"}
                    %div{:id => "search-border"}
                        .input-group
                            %input.search-bar.round-left{:type => "text", :name => "id", :id => "search", :placeholder => "Pesquisa",
                             :onfocus => "document.getElementById(\"search-border\").classList.add(\"search-border\");",
                              :onblur => "document.getElementById(\"search-border\").classList.remove(\"search-border\");"}
                            %button.search-btn.round-right{:type => "submit", :id => "inspect"}
                                %span
                                    .i.fa.fa-search.fa-sm