

.search-bar
  = render partial: 'search-bar' 

.category
  = render partial: 'categories'
%h3 Populares

.products
  = render partial: 'product-card' 


.navbar
  = render partial: 'navbar/navbar' 


