%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

.icon-bar
  %a{:href => "#", :id => "explore"}
    %i.fa.fa-compass
  %a.active{:href => "#"}
    %i.fa.fa-home
  %a{:href => "#", :id => "user"}
    %i.fa.fa-user-circle
 



