%nav.navbar-white.bg-white.shadow.py-4.fixed-top
  .container
    .row.align-items-center.m-0
      = link_to :back, :class => "no-link" do
        %i.fas.fa-arrow-left{style: "font-size: 20px"}
      .col-8
        %b{style: "font-size: 16px"} Adicionando Produto
          