%nav.navbar-white.bg-white.shadow.py-5.fixed-top
  .container
    .row.align-items-center.w-100
      %i.fas.fa-arrow-left{style: "font-size: 40px"}
      .col-xg-8.col-lg-8.col-md-8.col-sm-4.col-1.ml-5
        %span.font-weight-bold{style: "font-size: 40px"} Adicionando Produto
          