= form_for @product, url: {action: "create"}, html: {multipart: true} do |f|
  %label{:for => "product_name"}> Name
  = f.text_field(:name,)
  %label{:for => "product_price"}> Price
  = f.text_field :price
  %label{:for => "product_description"}> Description
  = f.text_area :description, size: "60x12"
  =f.submit("Create", class:"btn btn-primary")