%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}

= render partial: '/navbar/header', :locals => {:page_name => "Adicionar produto"}

.wrapper
  - if @product.errors.any?
    = render partial: 'errors'

  = render partial: 'form'
