
%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%div.container
    %div.laranja
    %div.card
        %div.card-body
            %h3.card-title.text-center Jorge Almeida
            %p.card-text.text-center Está na biblioteca
            %ul.list-group.list-group-flush
                %li.list-group-item Adicionar produto
                %li.list-group-item Localização
                %li.list-group-item Vincular conta
    %h5 Produtos 
    %div.card
        %div.card-body
            %h5.card-title Coquinha gelada
            %p.card-text Jorge Almeida
            %p.text-success Está na biblioteca
    %div.card
        %div.card-body
            %h5.card-title Panecone
            %p.card-text Jorge Almeida
            %p.text-success Está na biblioteca
    %div.card
        %div.card-body
            %h5.card-title Pizza do rossi
            %p.card-text Jorge Almeida
            %p.text-success Está na biblioteca
    