%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%link{:rel => "preconnect", :href => "https://fonts.gstatic.com"}
%link{:href => "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap", :rel => "stylesheet"}

%div.container.pb-5
    %div.laranja
    %div.sign-out-tela_usuario
        %a{:href=>"/logout", id: "logout", :class => "sign-out-tela_usuario"}
            %h3.fas.fa-sign-out-alt
    %div.img-user-center
        - if current_user.avatar.attached?
            %img{:src =>url_for(current_user.avatar), :class => "img-user"}
    %div.card{:id => "first-card"}
        %div.card-body
            %h3.card-title.text-center 
                = current_user.username
            %p.card-text.text-center Está na biblioteca
            %ul.list-group.list-group-flush
                %a{class: "add-product list-group-item", id: "add_product", href: "/product/new"} Adicionar produtos
                %a{class: "add-product list-group-item", id: "payment_method", href: "/user/payment_method"} Escolher métodos de pagamento
                %a{class: "add-product list-group-item", id: "phone_number", href: "/user/phone_number"} Alterar/Inserir numero de celular
                %a{class: "list-group-item", href: "#"} Localização
    %h5.mb-4 Celular
    .row.mx-2.justify-content-center
        - if @user.phone != ''
            .col-3.text-center                
                %p=@user.phone
    %h5.mb-4 Métodos de Pagamento
    .row.mx-2.justify-content-center
        - if @user.card
            .col-3.text-center
                %i.fas.fa-credit-card
                %p Cartão
        - if @user.pix
            .col-3.text-center
                %i.fas.fa-qrcode
                %p Pix
        - if @user.money
            .col-3.text-center
                %i.fas.fa-money-bill-alt
                %p Dinheiro
        - if @user.vr
            .col-3.text-center
                %i.fas.fa-utensils
                %p VR

    %h5 Produtos 
    = render partial = 'product-card'
%br
%br
%br
= render partial: 'navbar/navbar' 
