
%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%div.container
    %div.laranja
    %div.sign-out-tela_usuario
        %a{:href=>"/login/index", id: "logout", :class => "sign-out-tela_usuario"}
            %h3.fas.fa-sign-out-alt
    %div.img-user-center
        %img{:src =>url_for(current_user.avatar), :class => "img-user"}
    %div.card{:id => "first-card"}
        %div.card-body
            %h3.card-title.text-center 
                = current_user.username
            %p.card-text.text-center Está na biblioteca
            %ul.list-group.list-group-flush
                %a{class: "add-product list-group-item", id: "add_product", href: "product/new"} Adicionar produtos
                %a{class: "list-group-item", href: "#"} Localização
                %a{class: "list-group-item", href: "#"} Vincular conta
    %h5 Produtos 
    %div.card
        %div.card-body
            %h5.card-title Coquinha gelada
            %p.card-text
                = current_user.username
            %p.text-success Está na biblioteca
    %div.card
        %div.card-body
            %h5.card-title Panecone
            %p.card-text
                = current_user.username
            %p.text-success Está na biblioteca
    %div.card
        %div.card-body
            %h5.card-title Pizza do rossi
            %p.card-text
                = current_user.username
            %p.text-success Está na biblioteca
    