%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
%div.container.pb-5
    %div.laranja
    %div.voltar-tela_vendedor
        %a{:href=>"javascript:history.back()", id: "voltar",  :class => "voltar-tela_vendedor"}
            %h3.fas.fa-long-arrow-alt-left
    %div.card
        %div.card-body
            %h3.card-title.text-center 
                Métodos de pagamento
            %ul.list-group.list-group-flush
                %div.custom-control.custom-switch.list-group-item
                    %input{type: "checkbox", class: "custom-control-input", id: "dinheiro"} 
                    %label{class: "custom-control-label", for: "dinheiro"} Dinheiro
                %div.custom-control.custom-switch.list-group-item
                    %input{type: "checkbox", class: "custom-control-input", id: "cartao"} 
                    %label{class: "custom-control-label", for: "cartao"} Cartão
                %div.custom-control.custom-switch.list-group-item
                    %input{type: "checkbox", class: "custom-control-input", id: "vr"} 
                    %label{class: "custom-control-label", for: "vr"} Vale-refeição
                %div.custom-control.custom-switch.list-group-item
                    %input{type: "checkbox", class: "custom-control-input", id: "pix"} 
                    %label{class: "custom-control-label", for: "pix"} Pix