.login-wrapper
    .container
        .row
            .col-xg-1.col-lg-1.col-md-1.col-sm-1.col-1
            %h6.col-xg-10.col-lg-10.col-md-10.col-sm-10.col-10 Biscoitos/Bolachas coloridos
        .row.mt-1
            .col-xg-1.col-lg-1.col-md-1.col-sm-1.col-1
            %p.col-xg-10.col-lg-10.col-md-10.col-sm-10.col-10.login-font Para anunciar produtos, você precisa estar logado