%script{:src => "https://kit.fontawesome.com/7912526426.js", :crossorigin => "anonymous"}
.container
    .row
        .col-sm
            %h1.title Cadastre-se!
            %h3.subtitle Crie uma conta para continuar
    .row
        .col-sm
            %form
                .form-group
                    .form-row
                        %label{:for => "email"} Email
                    .form-row.input-icon
                        %i.fas.fa-envelope
                        %input.form-control{:type => "email", :id => "email", :placeholder => "comidinhas@usp.br"}
                        %i.fas.fa-check
                .form-group
                    .form-row
                        %label{:for => "login"} Login
                    .form-row.input-icon
                        %i.fas.fa-user
                        %input.form-control{:type => "text", :id => "login", :placeholder => "comidinhaseach"}
                        %i.fas.fa-check
                .form-group
                    .form-row
                        %label{:for => "senha"} Senha
                    .form-row.input-icon
                        %i.fas.fa-lock
                        %input.form-control{:type => "password", :id => "senha", :placeholder => "Senha"}
                        %i.far.fa-eye
                .form-group
                    .form-row
                        %label{:for => "confirmar_senha"} Confirme a senha
                    .form-row.input-icon
                        %i.fas.fa-lock
                        %input.form-control{:type => "password", :id => "confirmar_senha", :placeholder => "Senha"}
                        %i.fas.fa-check
                .form-group.form-check
                    %input.form-check-input{:type => "checkbox", :id => "termos", :placeholder => "Senha"}
                    %label{:for => "Termos"} Concordo com todos os <b>Termos e Condições</b>
                %button.btn.btn-primary{:type => "submit", :id => "criar"} Criar
    .row
        .col-sm
            %p Já tem uma conta? <b>Login</b>
