.category {
    height: 20px;
    border-radius: 4px;
    border: 1px solid #F78100;
    font-size: 12px;
    background-color: white;
}

.category:hover {
    background-color: #F78100;
    color: white;
    transition: .25s;
}

.category:focus {
    background-color: #F78100;
    color: white;
    box-shadow: 0px 4px 8px 0px rgba(247, 129, 0, 0.5);
    outline-style: none;
}