
.category .btn{
    margin: 5px 10px;
}

.category{   
    width: 100%;   
    margin: 10px 10px;           
}

.wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 24px;
    padding-right: 24px;
}

.roboto {
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
    line-height: 14,06px;
    letter-spacing: 0.32px;
}