// Place all the styles related to the prod_description controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  font-family: 'Roboto', sans-serif;  
}

span.fa.fa-heart.checked {
    color: red;
  }

.img-prod{ 
 display: block;
  max-width: 100%;  
  height: auto;
}

.col-prod-img{
  padding: 0 !important;
}

.product-desc{
  flex-direction: row;
  height: auto;
  width: 100%;
  padding-left: 20px;  
  font-weight: 700;
}

.product-desc lead{
  font-weight: 400 !important;
  font-size: 0.8em;
}

.box-rating{
  padding:0; 
  margin:0; 
}
.category-desc{
  padding: 6px 14px;
  border-radius: 10px;
  margin: 10px;
  color: black;
  background-color: white;  
  border: 1px solid lightgray;
  font-weight: 700;
  text-align: center;
}

.btn-rating {
 position:relative;
}

h5 h1{
  font-weight: 700;
}

button{
  color: black !important;  
  border-left: none;
  border-right: none;
}