  .new-rating-wrapper {
    padding-top: 100px !important;
  }

  .heart-fill {
    position: absolute;
    transform-origin: center;
    transform: translateX(-100%) scale(0);
    /*animation: grow 1s forwards;*/
  }
/*
  @keyframes grow {
    0% {
      transform: translateX(-100%) scale(0);
    }

    75% {
      transform: translateX(-100%) scale(1.2);
    }

    100% {
      transform: translateX(-100%) scale(1);
    }
  }*/

  .heart-pulse {
    position: absolute;
    transform-origin: center;
    transform: translateX(-100%);
    fill: none;
    /*animation: pulse 0.8s forwards 0.75s;*/
  }
/*
  @keyframes pulse {
    0% {
      transform: translateX(-100%) scale(0);
      fill: none;
    }

    1% {
      transform: translateX(-100%) scale(1.2);
      fill: rgba(250, 91, 91, 0.5);
    }

    100% {
      transform: translateX(-100%) scale(1.5);
      fill: rgba(250, 91, 91, 0);
    }
  }*/

  .new-rating-wrapper input[type='radio'] {
    display: none;
  }

  .new-rating-wrapper label {
    margin-left: 2px;
    margin-right: 2px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  #fissure {
    stroke-dasharray: 54px;
    stroke-dashoffset: 54px;
    fill:none;
    stroke:#ffffff;
    stroke-width:3;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1
  }
  
  .multiple-hearts {
    position: absolute;
    transform: translateX(-100%) scale(0.8);
    fill: none;
  }

  .sparkle {
    fill: #FA8787;
    filter: drop-shadow(0 0 10px rgba(250, 135, 135, 0.7));
    position: absolute;
    z-index: -1;    
  }

  #sparkle-1 {
    transform: translate(-20px, -20px) scale(0);
  }

  #sparkle-2 {
    transform: translate(240px, 0px) scale(0);
  }

  #sparkle-3 {
    transform: translate(100px, 25px) scale(0);
  }

  .sparkle-1 {
    animation: twinkle-1 4s 1s infinite;
  }

  @keyframes twinkle-1 {
    0% {
        transform: translate(-20px, -20px) scale(0);
    }

    12.5% {
        transform: translate(-20px, -20px) scale(1);
    }

    25% {
        transform: translate(-20px, -20px) scale(0);
    }

    100% {
        transform: translate(-20px, -20px) scale(0);
    }
  }

  .sparkle-2 {
    animation: twinkle-2 4s 1s infinite;
  }

  @keyframes twinkle-2 {
    0% {
        transform: translate(240px, 0px) scale(0);
    }

    25% {
        transform: translate(240px, 0px) scale(0);
    }

    37.5% {
        transform: translate(240px, 0px) scale(0.7);
    }

    50% {
        transform: translate(240px, 0px) scale(0);
    }

    100% {
        transform: translate(240px, 0px) scale(0);
    }
  }

  .sparkle-3 {
    animation: twinkle-3 4s 1s infinite;
  }

  @keyframes twinkle-3 {
    0% {
        transform: translate(100px, 25px) scale(0);
    }

    50% {
        transform: translate(100px, 25px) scale(0);
    }

    62.5% {
        transform: translate(100px, 25px) scale(0.5);
    }

    75% {
        transform: translate(100px, 25px) scale(0);
    }

    100% {
        transform: translate(100px, 25px) scale(0);
    }
  }

  #commentary {
    width: 100%;
    height: 120px;
    resize: none;
    background-color: transparent;
    border: rgba(150, 150, 150, 0.2) 1px solid;
    outline: none;
    border-radius: 4px;
  }

  .commentary-border {
    &::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 0;
      width: 0;
      height: 0;
      border-radius: 4px;
      border: none;
      z-index: -1;
      animation: draw-top-border 0.5s forwards;
    }

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 120px;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: #F78100 2px solid;
      z-index: -1;
      animation: draw-bottom-border 0.5s forwards;
    }
  }

  @keyframes draw-top-border {
    0% {
      width: 0;
      height: 0;
      border-top: #F78100 2px solid;
      border-right: none;
      border-bottom: none;
      border-left: none;
    }

    50% {
      width: calc(100% - 30px);
      height: 0;
      border-top: #F78100 2px solid;
      border-right: #F78100 2px solid;
      border-bottom: none;
      border-left: none;
    }

    100% {
      width: calc(100% - 30px);
      height: 120px;
      border-top: #F78100 2px solid;
      border-right: #F78100 2px solid;
      border-bottom: none;
      border-left: none;
    }
  }

  @keyframes draw-bottom-border {
    0% {
      top: 120px;
      width: 0;
      height: 0;
      border-top: none;
      border-right: none;
      border-bottom: #F78100 2px solid;
      border-left: none;
    }

    50% {
      top: 120px;
      width: calc(100% - 30px);
      height: 0;
      border-top: none;
      border-right: none;
      border-bottom: #F78100 2px solid;
      border-left: #F78100 2px solid;
    }

    100% {
      top: 0;
      width: calc(100% - 30px);
      height: 120px;
      border-top: none;
      border-right: none;
      border-bottom: #F78100 2px solid;
      border-left: #F78100 2px solid;
    }
  }

  .submit-rating {
    width: 100%;
    height: 30px;
    border: none;
    outline: none !important;
    border-radius: 4px;
    color: #ffffff;
    background-color: #F78100;
    font-size: 14px;
    font-weight: 700;
    transition: 0.2s;
  }

  .submit-rating:hover {
    background-color: #F56000;
  }
  
  .rating-card {       
    min-height: 100px;    
    margin-left: 15px;
    margin-right: 15px;
    border-width: 0.8;
    border-color: #ffffff;
    border-radius: 8px;
    background-color: "#fff";
    isolation: 2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  .colratingname h1{
    font-weight: 700;
    font-size: 27px !important;  
  }

  .colratevalue h1{
    font-weight: 500;
    font-size: 20px !important;  
    color: #FA5B5B;
  }


  .colratingcommentary h1{
    font-weight: 400;
    font-size: 20px !important;  
    align-self: baseline !important;
  }