
  .rating {
    text-align: center;    
  }
  
  .hidden {
    opacity: 0;
  }
  
  .star {
    display: inline-block;
    margin: 5px;
    font-size: 30px;
    color:black;
    position: relative;
  
    
    &.animate {
       -webkit-animation: stretch-bounce .5s ease-in-out;
    }
    
    &.hidden {
      opacity: 0;
    }
  }
  
.full {
    &:before {
      font-family: fontAwesome;
      display: inline-block;
      content: "\f004";
      position: relative;
      float: right;
      z-index: 2;
    }
}
  
.half {
    &:before {
       font-family: fontAwesome;
       content: "\f004";
       position: absolute;
       float: left;
       z-index: 3;
    }
}
  
  .star-colour {
    color: red;
  }
  
  
    
  @-webkit-keyframes stretch-bounce {
    0% {
      -webkit-transform: scale(1);
    }
    25% {
      -webkit-transform: scale(1.5);
    }
    50% {
      -webkit-transform: scale(0.9);
    }
    75% {
      -webkit-transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  .selected {
    &:before {
      font-family: fontAwesome;
      display: inline-block;
      content: "\f004";
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
    
    &.pulse {
      &:before {
        -webkit-transform: scale(3);
        opacity: 0;
      }
    }
    
    &.is-animated {
      &:before {
         transition: 1s ease-out;
      }
    }
  }
  
  .score {
    font-size: 20px;
    color: black;
    margin-top: 20px;
    margin-left: 50px;
  }
  
  .score-rating {
    vertical-align: sup;
    top: -5px;
    position: relative;
    font-size: 150%;
  }
  
  .total {
    vertical-align: sub;
    top: 0px;
    position: relative;
    font-size: 100%;
  }
  
  .average {
    font-size: 20px;
    color: indianred;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    .score-average {
      padding-top: 30px;
    }
  }
  .rate_values{
    visibility:hidden
  }