// Place all the styles related to the SuggestionVote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.coracao {
  color: lightgray;
  transition-timing-function: ease-out;
  transition: all 0.3s;
}

.coracao-ativo {
  color: red;
}