$transparent-grey: rgba(230, 230, 230, 0.2);

.suggestion-input {
  width: 85%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  outline-style: none;
  background-color: $transparent-grey;
  border: 1px solid transparent;
  z-index: 1000;
}

.suggestion-button {
  color: green;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 6px 12px;

  :active {
    outline: none;
    border: none;
  }
}
